[submodule "DB_Coursework"]
	path = DB_Coursework
	url = https://github.com/lorette-m/DB_Coursework
[submodule "OOP_Java_4th_semester"]
	path = OOP_Java_4th_semester
	url = https://github.com/lorette-m/OOP_Java_4th_semester
[submodule "Math_Progs_Repository"]
	path = Math_Progs_Repository
	url = https://github.com/lorette-m/Math_Progs_Repository
[submodule "30001"]
	path = 30001
	url = https://github.com/lorette-m/30001
