[submodule "DB_Coursework"]
	path = DB_Coursework
	url = https://github.com/lorette-m/DB_Coursework
[submodule "OOP_Java_4th_semester"]
	path = OOP_Java_4th_semester
	url = https://github.com/lorette-m/OOP_Java_4th_semester
[submodule "Math_Progs_Repository"]
	path = Math_Progs_Repository
	url = https://github.com/lorette-m/Math_Progs_Repository
[submodule "30001"]
	path = 30001
	url = https://github.com/lorette-m/30001
[submodule "MatLog_Coursework"]
	path = MatLog_Coursework
	url = https://github.com/lorette-m/MatLog_Coursework.git
[submodule "APS_Coursework"]
	path = APS_Coursework
	url = https://github.com/lorette-m/APS_Coursework.git
[submodule "APS_OS"]
	path = APS_OS
	url = https://github.com/lorette-m/APS_OS.git
[submodule "Java_3d_semester"]
	path = Java_3d_semester
	url = https://github.com/lorette-m/Java_3d_semester.git
